[v-cloak] {
    display:none;
  }
* {
    font-family: "Roboto";    
    padding: 0px;
    }
/* body{
    background-color: #eee;
} */
/* ===========================
    GENERAL
=============================*/
.widget-component{
    position: fixed;
    bottom: 70px;
    left: 20px;
    z-index: 1000;
}
.widget-component ul li{
    list-style: none;
}
.widget-component .special-margin{
    margin-top: 60px;
}
.widget-component .btn-fab {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
}

.hide{
    display: none;
}
.active{
    display: initial;
}
.language-icon{
    border-radius: 50%;
    box-shadow: 0px 16px 38px -12px rgba(0, 0, 0, 0.56),
    0px 4px 25px 0px rgba(0, 0, 0, 0.12), 0px 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.cursor-pointer{
    cursor: pointer;
}
.no-cursor-pointer{
    cursor: auto !important;
}
.bg-success-opac-50{
    background: rgba(0, 191, 232,0.1) !important;
}
.ul-nonestyle li{
    list-style: none;
}
.card.bg-rose, .card .card-header-rose, .card.card-rotate.bg-rose .back, .card.card-rotate.bg-rose .front,.bg-rose {
    background:#c2185b;
    color: #FFF;
    outline: none;
}
.h-140{
    height: 140px !important;
    width: auto;
}
.h-200{
    height: 200px !important;
    width: auto;
}
.h-300{
    height: 300px !important;
    width: auto;
}
.h-600{
    height: 600px !important;
    width: auto;
}
.btn:hover{
    color: #FFF !important;
}
.form-check .form-check-input:checked~.circle {
    border-color: #019ee2 !important;
}
.form-check .form-check-label .circle .check {
    background-color: #019ee2 !important;
}
.font-07{
    font-size:0.7rem;
}
.not-allowed {
    pointer-events: auto! important;
    cursor: not-allowed! important;
}
/* ===========================
    INDEX
=============================*/
    .navbar-brand {
    padding: 0 !important;
    }
    .header-filter::before,
    .header-filter::after {
    background: #fff;
    opacity: 0.1;
    }
    .card > .card-body > .card-title,
    .card > .card-body > .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .card > .card-body > .card-title {
    font-size: 0.95em;
    }
    .card > .card-body > .card-text {
    font-size: 0.8em;
    }
    .link-des {
    padding: 0px 0.5rem;
    margin: 2px 0.5rem;
    cursor: pointer;
    border-bottom: 3px solid #fff;
    font-size: 14px;
    }
    .link-des.active {
    border-bottom: 3px solid rgb(0, 188, 212);
    color: rgb(0, 188, 212) !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .link-des:hover {
    color: rgb(0, 188, 212) !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .footer p,
    .footer a,
    .footer span {
    font-size: 12px;
    text-transform: none;
    }
    .footer h4 {
    font-size: 18px;
    }
    footer ul li {
    padding: 2px;
    }
    footer ul li a {
    padding: 0px;
    }
    .w-30 {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    }
    .w-40 {
        width: 120px;
        height: 60px;
        border-radius: 10px;
        }
    .app-download {
    background-color: #019ee2;
    background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #00bfe8),
    to(#2d64b3)
    );
    background: linear-gradient(to right, #00bfe8 0, #2d64b3 100%);
    color: #fff;
    }
    .app-download-section {
    position: relative;
    }
    .app-download-image {
    position: absolute;
    }
    .app-download-content {
    height: 100%;
    }
    .multi-link li{
        display: inline-block;
    }
    .multi-link a {
    border-right: 1px solid gray;
    padding: 0px 4px;
    color: rgb(60, 72, 88);
    font-size: 14px;
    }
    .multi-link a:hover {
    color: #019ee2;
    border-right: 1px solid #019ee2;
    text-decoration: underline;
    }
    .app-download-button button {
    text-transform: initial;
    }
    .trip-destination {
    background-color: #f2fbff;
    }
    .trip-destination i {
    color: #019ee2;
    font-size: 3rem;
    }
    .trip-destination h5 {
    font-weight: bold;
    font-size: 1.5rem;
    }
    .btn {
    font-size: 1rem;
    }
    .card-profile .card-avatar img,
    .card-testimonial .card-avatar img {
    width: 100%;
    height: auto;
    }
    .card-profile .card-avatar,
    .card-testimonial .card-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0px 16px 38px -12px rgba(0, 0, 0, 0.56),
    0px 4px 25px 0px rgba(0, 0, 0, 0.12), 0px 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
    .card-profile.card-plain .card-avatar,
    .card-testimonial.card-plain .card-avatar {
    margin-top: 0px;
    }
    .card-profile [class*="col-"] .card-avatar {
    width: auto;
    }
    .card-profile .card-avatar {
    width: 130px;
    max-width: 130px;
    max-height: 130px;
    }
    .media-left,
    .media > .float-left {
    padding: 10px;
    }
    .media .avatar {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
    }
    .img-retange {
    background-size: cover;
    background-repeat: repeat;
    }
    .footer{
        font-size: 14px;
    }
    .footer h4 {
    color: #3c4858;
    font-weight: bold;
    }
    .footer-logo {
    width: 95%;
    height: auto;
    }
    .small-logo{
        height: 20px;
        width: auto;
    }
    .footer .card {
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .footer h4{
        color: #002c69 !important;
        font-size: 0.9rem !important;
    }

    .font-09{
        font-size: 0.9rem !important; 
    }


    .btn-exchange i {
    font-size: 1rem;
    color: #00bfe8;
    }
    .btn-exchange {
    background-color: transparent;
    padding: 2px;
    margin: 0;
    cursor: pointer;
    }
    .btn-exchange:hover {
    color: #019ee2;
    text-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2),
    0 13px 24px -11px 019ee2(233, 30, 99, 0.6);
    }
    .form-control,
    .is-focused .form-control {
    background-image: linear-gradient(
    to top,
    #00bfe8 2px,
    rgba(156, 39, 176, 0) 2px
    
    ),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
    }
    .exchange-parent{
    position: relative;
    }
    .exchange-component{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-10%);
    }
    .togglebutton label input[type="checkbox"]:checked + .toggle {
        background-color: #00bfe8;
    }
    .togglebutton label input[type="checkbox"]:checked + .toggle::after {
        border-color: #00bfe8;
    }
    .btn-updown-parent{
    position: relative;
    }
    .btn-updown-group{
    position: absolute;
    right: 0;
    bottom: -10px;
    }
    .btn-up, .btn-down {
        padding: 0px 4px;
        font-size: 0.8rem;
    }
    .contact-letter{
        list-style: none;
        padding: 5px 10px;
        font-size: 14px;
    }
    .contact-letter>li>ul{
        list-style: none;
        padding: 5px 10px;
    }
    .border-top{
        border-top: 1px solid gray;
    }
    .footer-social img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .footer-social img:hover{
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14);
    }

.absolute-parrent{
    position: relative;
}
.absolute-right{
    position: absolute;
    top:0;
    right: 0;
}
.info-button{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    background-color: #FFF !important;
    border:none;
}
.info-button i{
    font-size: 12px;
}

    /* =============
       CONTACT
    ============= */
    .map-frame{
        width: 100%;
        height: 350px;
        cursor: none;
    }
    .top-navigation{
        padding-top: 70px;
    }
    .no-bordertop{
        border:none;
    }
    .contact-container{
        padding-top: 100px;
        padding-bottom: 100px;
    }


    /* ===============
        LAW AND INVEST
    =================*/
    .page-header-autoheight {
        height: 300px !important;
        margin-top: 70px;
        background-size: cover;
    }
    .bg-section-law{
        background-image: url('../img/bg_lawfirm_02.jpg');
        background-size: cover;
    }
    .law-bg::before,
    .law-bg::after,
    .bg-section-law::before,
    .bg-section-law::after {
    background: #252527;
    opacity: 0.5;
    }
    .blog-post ul{
            font-size: 14px;
            margin: 20px;
            line-height: 2rem;
            list-style-type: square;
    }
    /* ==============
        VISA
    =================*/
    .visa-bg{
        height: 350px !important;
    }
    .bg-section-visa{
        background-image: url('../img/bg_visa_02.jpg');
        background-size: cover;
    }

    /* ==============
        HELP
    =================*/
    #help-nav ul{
        list-style-type:none !important;
    }
    #faq button{
        white-space: normal;
    text-align: left;
    }
    .main-help ul li,.main-help ol li{
        padding-bottom: 0.8rem;
    }
    #ins .badge{
        margin-top: 15px;
        margin-bottom: 15px;
    }

   /* ==============
        LEGAL
    =================*/
    .highlight-point {
        font-size: 14px;
        color: #7a8085;
        text-align: center;
        display: inline-block;
        line-height: 2.2em;
        margin-right: .4em;
    }



    /* =================== 
    BLOG
    ======================*/
    .main-blog-img img{
        height: 400px;
    }
    .detail-blog ul{
        list-style-type:none !important;
    }
    .detail-blog button{
        white-space: normal;
    text-align: left;
    }
    .detail-blog ul li,.detail-blog ol li{
        padding-bottom: 0.8rem;
        font-size: 14px;
    }
    .btn.btn-google {
        color: #fff;
        background-color: #dd4b39;
        border-color: #dd4b39;
        box-shadow: 0 2px 2px 0 rgba(221,75,57,.14), 0 3px 1px -2px rgba(221,75,57,.2), 0 1px 5px 0 rgba(221,75,57,.12);
    }
    .btn.btn-facebook {
        color: #fff;
        background-color: #3b5998;
        border-color: #3b5998;
        box-shadow: 0 2px 2px 0 rgba(59,89,152,.14), 0 3px 1px -2px rgba(59,89,152,.2), 0 1px 5px 0 rgba(59,89,152,.12);
    }
    .btn.btn-twitter {
        color: #fff;
        background-color: #55acee;
        border-color: #55acee;
        box-shadow: 0 2px 2px 0 rgba(85,172,238,.14), 0 3px 1px -2px rgba(85,172,238,.2), 0 1px 5px 0 rgba(85,172,238,.12);
    }
    .media-object{
        width:100%;
    }
    .icon-sm{
        font-size: 1rem;
    }
    .icon-sm-parent{
        line-height: 30px !important;
        text-align: center;
    }

/* ========================
    CUSTOM WIGET
===========================*/
.zalo-chat-widget{
    position: fix;
    top: 50%;
    right: 0;
}

/* ========================
    DESTINATION
============================*/
.card .card-header.card-header-image .card-title {
    bottom: 0;
    left: 0;
    background-color: rgba(0, 191, 232,0.7);
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 6px;
}

/* ========================
    DESTINATION
============================*/
.h-50{
    height: 200px !important;
}
.h-50-max{
    max-height: 200px !important;
    overflow-y: scroll;
}
.h-950-max{
    max-height: 950px !important;
    overflow:hidden;
}
/* ========================
    TOURLIST
============================*/
.tour-filter .card .card-header:not([class*="header-"]),.tour-filter .card .card-header-info {
    box-shadow: none !important;
    border-bottom: 1px solid #d2d2d2;
    background-color: #d3e8f0;
}
.tour-filter .card .card-header .card-title,.tour-filter .card .card-header i{
    color: #3C4858;
}
.tour-filter .card .card-header {
    border-radius: none !important;
    padding: 0;
    margin: 0;
    background:none;
}
.tour-filter h6{
    padding: 0;
    margin: 0;
}
.tour-filter .card-plain{
    border:1px solid #d2d2d2;
}
.sub-collapse h6,.sub-collapse i{
    color: #3C4858;
}
.sub-collapse a:hover h6,.sub-collapse a:hover i{
    color: #e91e63;
}
.sub-collapse i{
    font-size: 13px;
}
.tour-filter .form-check .form-check-input:checked+.form-check-sign .check {
    background: #e91e63;
}
.price{
    font-size: 13px;
    font-weight: 300;
}
.small-font{
    font-size: 10px;
}
.vote-component{
    background-color: rgba(243, 174, 197, 0.1);
}
.price-component{
    background-color:rgba(204, 220, 243, 0.3);
}
.vote-badge{
    background: rgba(0, 191, 232,0.7) !important;
}
.vote-score{
    background: rgba(0, 191, 232,0.5) !important;
}
.pagination>.page-item.active>a, .pagination>.page-item.active>a:focus, .pagination>.page-item.active>a:hover, .pagination>.page-item.active>span, .pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover {
    background-color: #e91e63;
    border-color: #e91e63;
    color: #fff;
    box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
}


/* ========================
    BOOKING CONFIRM
============================*/
.custom-badge{
    background-color: #FFF;
    color: #e91e63;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}
.custom-card-header{
    background-color:#3C4858 ;
    color: #FFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.collapseHoaDon h6,.collapseHoaDon i{
    color: #3C4858;
}
.collapseHoaDon:hover h6,.collapseHoaDon:hover i ,.collapseKhac:hover h6,.collapseKhac:hover i{
    color: #e91e63;
}
#collapseHoaDon .card-body, #collapseKhac .card-body{
    border-radius: 4px;
}


/* ========================
    DETAIL TOUR
============================*/
.tour-information-component .card .card-header:not([class*="header-"]),.tour-information-component .card .card-header-info {
    box-shadow: none !important;
    border-bottom: 1px solid #d2d2d2;
    background-color: #d3e8f0;
}
.detail-tour-price{
    font-size: 1.5rem;
}
.custom-card-header>a,.custom-card-header a:hover{
    color: #FFF !important;
}


/* ========================
    DROP DOWN MENU
============================*/
.bg-section-contactus{
    background-image: url('../img/bg_moutain.jpg');
    background-size: cover;
}

.navbar .hestia-mega-menu>.dropdown-menu {
    margin: auto;
    left: 0;
    right: 0;
}
.nav-card-link,.nav-card-link:hover{
    background: transparent !important;
    color: transparent !important;
}
.dropdown-menu .dropdown-item, .dropdown-menu a {
    color: #002c69 !important;
    font-size: 0.9rem;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 191, 232,0.4) !important;
    background-color: rgba(0, 44, 105,0.8);
    color: #FFFFFF !important;
    font-size: 0.9rem;
}
.dropdown-item{
    font-size: 0.9rem !important;
}



/* ========================
    HOTEL BOOKING CONFIRM
============================*/
.preview-group{
    background-color: #FFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}
.preview-group-roomType{
    background-color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
}
.preview-group:hover,.preview-group-roomType:hover{
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 191, 232,0.4) !important;
}
.preview-group i,.preview-group-roomType i{
    color: #111 !important;
    text-align: center;
    font-weight: bold;
}
.preview-group i{
    font-size: 1.2rem;

}
.preview-group-roomType i{
    font-size: 0.8rem;

}
.hotel-booking-confirm .status {
    height: 55px;
    width: 70%;
    margin: 40px auto;
    margin-bottom: 10px;
    border-radius: 30px;
    box-shadow: 2px 7px 11px -5px rgba(0,0,0,.47);
}
.hotel-booking-confirm .status span.no-right {
    border-radius: 30px 0 0 30px;
}

.hotel-booking-confirm .status span.active {
    background-color: #4469b0;
    color: #fff;
}
.hotel-booking-confirm .status span {
    height: 55px;
    width: 33.33%;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    line-height: 55px;
    font-size: 16px;
    color: #000;
    float: left;
}
.hotel-booking-confirm .status span.no-left-right {
    border-radius: 0;
}
.hotel-booking-confirm .status span.no-left {
    border-radius: 0 30px 30px 0;
}
.nomal-display .nav-link{
    display: initial;
}
.right-card {
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.border-radius{
    border-radius: 4px;
}
.border-right-dot{
    border-right: 1px dashed #dee2e6 !important;
}
.popover-group{
    position: relative;
    display: inline-block;
}
.popover-custom{
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #FFF;
    box-shadow: 4px 2px 11px -5px rgba(0,0,0,.47);
    z-index:1000;
    width: auto;
    white-space: nowrap;
    border-radius: 4px;
    padding: 4px;
}
.btn-plus{
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    background-color: #FFF;
    border:none;
    cursor: pointer;
}
.btn-plus:hover{
    box-shadow: 2px 7px 11px -5px rgba(0,0,0,.47);
}
.popover-custom{
    visibility: hidden;
}
.show{
    visibility: visible;
  }
  .drop-item{
    cursor: pointer;
    padding-top: 6px ;
    padding-bottom: 6px ;
    border-radius: 4px;
  }
  .drop-item:hover{
      background-color:#dee2e6;
  }
  .custom-hotel-list a{
      color: rgba(0,0,0,.47) !important;
      background-color: #FFF !important;
      font-size: 14px;
      border-bottom: 1px solid #d2d2d2;
      border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-transform: none !important;
    text-align: left !important;
    width: 100%;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  .custom-hotel-list a::after{
      display: none;
  }
.custom-hotel-list a:hover{
    box-shadow: none !important;
    color: rgba(0,0,0,.47) !important;
    cursor: pointer;
    border-bottom: 2px solid #00bcd4 !important;
}
.custom-hotel-list>.dropdown-menu .dropdown-item:hover{
    background-color: #d2d2d2;
    color: rgba(0,0,0,.47) !important;
    cursor: pointer;
    box-shadow: none !important;
}
.main-index{
    position: relative;
}
.main-custom-card{
    z-index: 1000;
    color: #000 !important;
    position: absolute;
    width: 70vw;
    height: 300px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.main-custom-card .nav-item a{
    z-index: 100000;
    color:#002c69;
}
.main-custom-card .nav-item{
    display: inline-block;
}

.main-custom-card .nav-tabs .nav-item .nav-link, .nav-tabs .nav-item .nav-link:hover, .nav-tabs .nav-item .nav-link:focus {
    color:#002c69 !important;
}
.main-custom-card .nav-tabs .nav-item .nav-link {
    color:#002c69 !important;
}
.input-modal-btn{
        background-color: #FFF !important;
        border: 1px solid #d2d2d2!important;
        box-shadow: none!important;
        color: gray!important;
}
.input-modal-btn:hover{
    color: #222!important;
}
.input-modal-btn:focus{
background-image: linear-gradient(
 to top,
 #00bfe8 2px,
 rgba(156, 39, 176, 0) 2px),linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}
.btn-icon-sm{
    width: 25px !important;
    height:25px!important;
    border-radius: 50%!important;
    line-height: 25px!important;
    padding: 0;
}
.btn-icon-sm i{
    font-size:12px;
}
.btn-icon-xs {
    width: 15px !important;
    height: 15px!important;
    border-radius: 50%!important;
    line-height: 15px!important;
    padding: 0;
    font-size: 10px;
}
.border-sm{
    border:1px solid #dee2e6 !important;
}
.badge-padding-custom{
    padding: 3px 5px !important;
}
.modal-title-custom{
    background: #4469b0;
    color: #FFF;
    border-top-left-radius: 4px;
    padding: 4px !important;
    border-top-right-radius: 4px;
    border: 1px solid #4469b0;
}
.border-radius-4px{
    border-radius: 4px
}
.border-custom{
    border: 1px solid #4469b0;
}
.time-line::after{
    content: '';
    position: absolute;
  width: 1px;
  background-color: #e91e63;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  z-index:1
}
.time-line span{
    z-index:2;
}
/* ========================
    RESPONSIVE
============================*/
@media (min-width: 1200px){
    .navbar .hestia-mega-menu>.dropdown-menu {
        width: 1170px;
    }
    .h-30{
        height: 100px !important;
    }
    /* .border-sm{
        border:1px solid #dee2e6 !important;
    } */
    }
    @media (min-width: 992px){
    .navbar .hestia-mega-menu>.dropdown-menu {
        width: 970px;
    }
    .h-30{
        height: 100px !important;
    }
    /* .border-sm{
        border:1px solid #dee2e6 !important;
    } */
    }
    @media (min-width: 769px){
    .navbar .hestia-mega-menu>.dropdown-menu {
        width: 750px;
        left: 50%;
        /* transform: translateX(-50%); */
    }
    .h-30{
        height: 100px !important;
    }
    /* .border-sm{
        border:1px solid #dee2e6 !important;
    } */
    }
    @media (min-width: 582px){
        /* .border-sm{
            border:none !important;
        } */

    }