body{
    background-color: #FFFFFF !important;
}
.hidden-outof-text{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  .text-06{
    font-size: 0.6rem !important;
  }
  .text-08{
      font-size: 0.8rem !important;
  }
  .text-x1{
    font-size: 1rem !important;
  }
  .text-xh1{
    font-size: 1.5rem !important;
}
.text-x2{
    font-size: 2rem !important;
}
.text-x3{
    font-size: 3rem !important;
}
.text-x4{
    font-size: 4rem !important;
}
.vw-75{
    width: 75vw !important;
    max-width: 75vw !important;
}
.vw-85{
    width: 85vw !important;
    max-width: 85vw !important;
}
.text-color-50{
   color: rgba(32, 80, 114,0.5) !important;
}


/* ==============SCROLL NGANG================== */
.scroll-ngang {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .one-line{
    white-space: nowrap;
  }
  .scroll-ngang::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

/* ======CUSTOM CAROLSE========= */
.VueCarousel-navigation-button.VueCarousel-navigation-next{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    background: #FFFFFF !important;
    right: 25px !important;
    top: 40% !important;
    box-shadow: 0 0 7px -4px #000;
    color: #205072 !important;
    outline: none;
}
.VueCarousel-navigation-button.VueCarousel-navigation-prev{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    background: #FFFFFF !important;
    left: 25px !important;
    top: 40% !important;
    box-shadow: 0 0 7px -4px #000;
    color: #205072 !important;
    outline: none;
}
.VueCarousel-dot{
    background-color: #205072 !important;
    color: #205072 !important;
}
.VueCarousel-dot{
    margin-top: 0px !important;
    background-color: rgba(32, 80, 114,0.5) !important;
}
@media (min-width: 1200px)
{
.container {
    max-width: 1760px !important;
    padding-right: 80px !important;
    padding-left: 80px !important;
}
}